# 청와대 국민청원 데이터
## 결측치 다루기 
* 데이터 출처 : https://github.com/akngs/petitions
* 전체 행 중에서 5%는 임의 필드 1개에 결측치 삽입
* 범주(category)가 '육아/교육'이고 투표수(votes)가 50건 초과이면 20% 확률로 투표수에 결측치 넣기
* 나머지는 전체 데이터와 동일

=> 위와 같이 임의로 만들어진 결측치를 다뤄본다.

In [1]:
# 출력데이터가 지저분하게 보이지 않도록 warnings을 불러왔다.
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
from plotnine import *
print(pd.__version__)
print(np.__version__)

0.21.0
1.14.0

In [3]:
petitions = pd.read_csv('data/petition_corrupted.csv')
# 데이터의 크기가 어느정도인지 본다.
petitions.shape

(159770, 8)

In [4]:
# 위에서 3개의 데이터만 따로 추출헤 본다.
# 그런데 컬럼명이 없는 것을 알 수 있다. 그래서 컬럼명을 지정해 주고 다시 불러오도록 한다.
petitions.head(3)

,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,"스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가 되고 있습니다.\n저는 우리가 너무 일찍 포기한 것이 아닌가 하는 생각을 갖고 있습니다.\n그리고, 추후 이 사고에 대한 확실한 해결이 없다면 나중에는 문재인 정부에 커다란 부담이 될 수도 있다는 생각에 이 글을 쓰게 되었습니다.\n가족들이 지금까지 갖고 있는 희망은 발견되지 않은 구명벌(땟목)에 선원들이 살아있지 않을까 하는 겁니다.\n생존 훈련받은 선원들이 대부분이고 구명벌에는 지붕과 생존도구가 구비되어있기 때문에 오랜 기간 버틸 수 있을 거라 보는 겁니다.\n이전 정권이 대선이전에 서둘러 수색을 중단한 탓도 있고, 정권교체 후 재수색이 있었지만,\n태평양, 3000m 수심이라는 데서, 애초 우리가 마음속에서 너무 일찍 포기한 게 아닌가 하는 생각이 듭니다.\n멕시코에서는 14개월 동안 표류하다 구조된 어부도 있고,\n과태말라에서 요트가 전복되어 태평양을 117일간 표류하던 어떤 부부가 한국어선에 의해 구조되는 일도 있었다는데,\n구명벌을 찾을 때 까지 포기하면 안된다고 생각합니다.\n구명벌이 침몰당시 분리된 것이 맞는지 확인하고,\n선박의 침몰 원인을 찾기 위해서도 심해를 탐사할 수 있는 장비를 통한 수색도 필요하다고 생각합니다.\n선박의 침몰에 대해서는 선사의 노후선박 개조와 사전 균열 등, 의혹이 제기되고 있는 상황입니다.\n구명벌이 선박에서 분리되지 못했다면 구명벌 수색은 필요 없는 것이 되고 침몰원인만 확인하면 되는 것입니다.\n물론 불가능하거나 실패할 수도 있지만 적어도 정부가 할 수 있는 모든 걸 했다는 것을 보여줘야 한다고 봅니다.\n침몰 당시 자동발신 조난신호의 위치나 수동발신 조난신호 발생위치가 확인되고 있고, AIS나 레이다, 인공위성사진 등을 이용하면 침몰위치 특정은 어려운 것이 아니고,\n현재 유인 심해 탐사정의 심해탐사기록이 일본 6500m, 중국 7,062m인 걸 보면 아주 불가능한 일은 아닐 수도 있다고 봅니다.\n애초에 사고가 발생했을 때 해수부는 국방부에 협조를 구해서 구조용 군함과 헬기를 지원 받고, 주변국과의 협조로 전방위적인 구명벌 수색을 했어야 한다고 봅니다.\n하지만, 지금은 구명벌이 조류와 바람에 의해 어디로 흘러갔을지 모르기 때문에 좀 더 넓은 지역에 대한 지속적인 구조용 선박과 헬기에 의한 수색과 주변 무인도에 대한 수색이 필요하다고 봅니다.\n나중에라도 구명벌이 발견되고 죽어있는 시신만 발견되었을 때 국가가 아무것도 안하고 있었다면 그 비난은 모두 현 정부에 주어지게 될 것이기 때문입니다.\n물론, 정부가 욕을 먹는 것은 작은 겁니다.\n중요한건 “사람이 먼저다”라는 가치를 지키는 것입니다.\n이런 공간을 마련해 주셔서 감사합니다."
0,22,2017-08-19,2017-11-17,0,17.0,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
1,23,2017-08-19,2017-09-03,0,0.0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
2,24,2017-08-19,2017-08-26,0,53.0,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...

### 컬럼명 지정

In [5]:
column_names = ['article_id','start','end','answered','votes','category','title','content']
petitions = pd.read_csv('data/petition_corrupted.csv', names = column_names, header=None)
petitions.head()

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9.0,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17.0,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0.0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53.0,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0.0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

* 컬럼명은 위와 같이 지정해 줄 수도 있지만, 하나씩 타이핑하기 귀찮다면 우리에겐 `petition_sampled.csv`가 있으니 해당 csv에서 샘플 컬럼을 불러오도록 한다.
* data 폴더에 있는 샘플 파일명을 확인한다.

In [6]:
%ls data

petition.csv            petition_corrupted.csv  petition_sampled.csv

In [7]:
# 샘플파일에는 컬럼이 존재한다.
petition_sample = pd.read_csv('data/petition_sampled.csv')
print(petition_sample.shape)
petition_sample.head()

(8029, 8)

,article_id,start,end,answered,votes,category,title,content
0,58,2017-08-19,2017-11-17,0,21,일자리,국토교통부와 한국주택협회가 행한 부당한 행위와 권력남용에 대한 내용을 청원드립니다.,안녕하세요? 존경하고 지지하는 문재인 대통령님!\n저는 성남시 분당구 정자동 주택전...
1,63,2017-08-20,2017-09-04,0,1,보건복지,살려주세요..,안녕하십니까?\n저는 올해 63세된 홀로 사는 늙은 여자입니다...\n작년 중복날 ...
2,136,2017-08-20,2017-11-18,0,4,육아/교육,고등학교 교육 내용 수준을 낮춰주시고 실용적인 내용을 담아주세요!,저는 광주에 사는 중3 학생입니다. 고등학교 가기 직전의 학년이라 어느 때보다 고등...
3,141,2017-08-20,2017-08-27,0,0,기타,한국문화에 창조적요소를 심자,안녕하십니까\n저는 92년 한국을 알게된 종국동포 입니다.\n[저는 한 중소기업에...
4,148,2017-08-20,2017-11-18,0,7,외교/통일/국방,다문화정책 및 할랄 인증 제도,대한민국과 국민을 위해 밤낮 없이 수고하시는 대통령을 비롯한 위정자 분들께\n대한민...

In [8]:
# 컬럼명을 지정해 준다
petition_columns = petition_sample.columns

In [9]:
petitions = pd.read_csv('data/petition_corrupted.csv', names = petition_columns, header=None)
petitions.head()

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9.0,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17.0,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0.0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53.0,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0.0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

## 결측치가 있는지 널 값을 세어본다.

In [10]:
petitions.isnull().sum()

article_id      0
start           0
end             0
answered        0
votes         192
category        0
title           0
content         1
dtype: int64

## 투표수 결측치 데이터프레임 생성

In [11]:
petition_votes_null = petitions.loc[petitions['votes'].isnull()]
petition_votes_null.shape

(192, 8)

In [12]:
petition_votes_null.head()

,article_id,start,end,answered,votes,category,title,content
52,75,2017-08-20,2017-09-04,0,NaN,육아/교육,수능 상대평가 유지 정시확대,기회의 사다리이자 가장 공정한 수능 상대평가 유지와 정시확대를 원합니다 사걱세나 전...
193,218,2017-08-21,2017-08-28,0,NaN,육아/교육,대안교육지원법을 제정해 주십시오.,저는 경기도 파주에 사는 사람으로 경기도 고양시 소재 중등과정 대안학교에 아이를 보...
427,455,2017-08-24,2017-09-23,0,NaN,육아/교육,1수업 2교사제 찬성합니다,"처음에는 명칭만을 보고 ""아이들이 줄어서 한 반 인원이 많지도 않은데 교사 두 분이..."
645,673,2017-08-27,2017-09-03,0,NaN,육아/교육,"초등학교 엉터리 석면공사에도 대책없는 교육청, 바로잡아 주세요!!!",경기도 교육청에서 이번 여름방학중 진행한 과천 관문초등학교 천장 석면텍스교체공사에서...
1405,1434,2017-09-02,2017-10-02,0,NaN,육아/교육,별거 부부 문제 해결,안녕하세요. 현재 광역시에서 근무하고 있는 중등 교사이자 1살 갓난아기를 키우고 있...

### 투표수에 결측치가 없는 데이터프레임 생성

In [13]:
petition_votes_notnull = petitions.loc[petitions['votes'].notnull()]
petition_votes_notnull.shape

(159579, 8)

In [14]:
import re
from konlpy.tag import Twitter
t = Twitter()

def preprocessing(text):
    text = str(text)
    # 개행문자 제거
    text = re.sub('\\\\n', ' ', text)
    #text = t.pos(text, norm=True, stem=True)
    return text

In [15]:
%time votes_notnull_content = petition_votes_notnull['content'].apply(preprocessing)

CPU times: user 589 ms, sys: 60.3 ms, total: 649 ms
Wall time: 651 ms

In [16]:
votes_notnull_content[:3]

0    스텔라 데이지호에 대한 제안입니다. 3월31일 스텔라 데이지호가 침몰하고 5달째가 ...
1    현 정부에 국민들이 가장 원하는 것은 부패척결입니다.  우리 사회에 각종 비리들이 ...
2    만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!! 전남 목포에서 자...
Name: content, dtype: object

In [17]:
%time votes_null_content = petition_votes_null['content'].apply(preprocessing)

CPU times: user 1.87 ms, sys: 257 µs, total: 2.13 ms
Wall time: 2.07 ms

In [18]:
votes_null_content[:3]

52     기회의 사다리이자 가장 공정한 수능 상대평가 유지와 정시확대를 원합니다 사걱세나 전...
193    저는 경기도 파주에 사는 사람으로 경기도 고양시 소재 중등과정 대안학교에 아이를 보...
427    처음에는 명칭만을 보고 "아이들이 줄어서 한 반 인원이 많지도 않은데 교사 두 분이...
Name: content, dtype: object

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline

vectorizer = CountVectorizer(analyzer = 'word', 
                             tokenizer = None,
                             preprocessor = None, 
                             stop_words = None, 
                             min_df = 1,
                             ngram_range=(1, 2),
                             max_features = 10000
                            )
vectorizer

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=10000, min_df=1,
        ngram_range=(1, 2), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [20]:
pipeline = Pipeline([
    ('vect', vectorizer),
])

In [21]:
%time train_data_features = pipeline.fit_transform(votes_notnull_content)
train_data_features.shape

CPU times: user 1min 37s, sys: 2.51 s, total: 1min 39s
Wall time: 1min 39s

(159579, 10000)

In [22]:
%time test_data_features = pipeline.fit_transform(votes_null_content)
test_data_features.shape

CPU times: user 1.68 s, sys: 169 ms, total: 1.85 s
Wall time: 1.85 s

(192, 10000)

In [23]:
vocab = vectorizer.get_feature_names()
print(len(vocab))
vocab[:10]

10000

['044',
 '044 203',
 '10',
 '100',
 '100 전면',
 '100만원',
 '100만원 영어유치원은',
 '100만원이',
 '100만원이 넘는',
 '100명']

In [24]:
# 벡터화 된 피처를 확인해 봄
# Bag of words 에 몇 개의 단어가 들어있는지 확인
dist = np.sum(test_data_features, axis=0)
    
for tag, count in zip(vocab, dist):
    print(count, tag)
    
pd.DataFrame(dist, columns=vocab)

[[4 4 8 ... 3 2 3]] 044

,044,044 203,10,100,100 전면,100만원,100만원 영어유치원은,100만원이,100만원이 넘는,100명,...,희망이,희생을,힘내십시요,힘든,힘든 상황,힘들게,힘들고,힘들다는,힘들어,힘이
0,4,4,8,5,2,5,2,2,2,2,...,2,2,2,10,2,7,3,3,2,3

In [25]:
# 각 row에서 전체 단어가방에 있는 어휘에서 등장하는 단어에 대한 one-hot-vector
pd.DataFrame(test_data_features[:10].toarray(), columns=vocab).head()

,044,044 203,10,100,100 전면,100만원,100만원 영어유치원은,100만원이,100만원이 넘는,100명,...,희망이,희생을,힘내십시요,힘든,힘든 상황,힘들게,힘들고,힘들다는,힘들어,힘이
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [26]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(
    n_estimators = 10, n_jobs = -1, random_state=2018)
forest

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=False, random_state=2018, verbose=0,
            warm_start=False)

In [27]:
X_train = train_data_features
X_train.shape

(159579, 10000)

In [28]:
X_test = test_data_features
X_test.shape

(192, 10000)

In [29]:
X_label = petition_votes_notnull['votes']
X_label.shape

(159579,)

In [30]:
y_label = petition_votes_null['votes']
y_label.shape

(192,)

In [31]:
%time forest = forest.fit(X_train, X_label)

CPU times: user 13min 36s, sys: 30.7 s, total: 14min 7s
Wall time: 4min 18s